<div class="container">
  <div class="columns">
    <div class="column">
      <div class="buttons">
        <button class="button is-success is-light" (click)="newPhoto()">New Photo</button>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img class="is-rounded" src="{{this.photoUrl}}" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>